/* Basic styling for the outer container */
.container {
  width: 1728px;
  height: 1117px;
  position: relative;
  background: #F8AF4C;
}

/* Styling for the inner container */
.inner-container {
  width: 1178px;
  height: 816px;
  border: 1px solid black;
  background-image: url(https://s3-alpha-sig.figma.com/img/3f79/2975/8bea94315629e373cb9f84222e14b472?Expires=1702857600&Signature=SgHwR08tBReU-JBt5sxrFAuFWaQDdqz~7b21yL3KDA-VjoiP-nwvArXWAMvYSNwVy97evFI8AaYOAmP0IbZrovb7hN~KUT7ZtBUCvVJT~g7u553tBXpbxHrcyd2LzkvAjwWHlkbdl4ivJW9Lm8oVaZn9IyitBsARhst3tHkZpdxjo~S-JW6YOE0o9R7oa8NbSz5~nr5yz~4ApHMM6QEzrE67~xy51Y6O2rkzOjHhnr35bo1b3e2tECFhHhuMpqHmjwIM3rWAyfTyzu-Gx8hFwbjA~j3lTUOvJaMJUIC7MYMglJbMP~HoCxAPFpT54GVEiDp-oxRjSB8fiRsGA5ZMCw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
}

/* Styling for the Welcome text */
.welcome-text {
  left: 102px;
  top: 41px;
  position: absolute;
  text-align: center;
  color: black;
  font-size: 70px;
  font-family: 'Playfair Display';
  font-weight: 600;
  word-wrap: break-word;
}

/* Styling for the buttons */
.button {
  width: 221px;
  height: 67px;
  position: absolute;
  background: black;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 40px;
  font-family: 'Playfair Display';
  font-weight: 600;
}

/* Individual positioning for buttons */
.button-logout {
  left: 478px;
  top: 426px;
}

.button-create-post {
  left: 819px;
  top: 426px;
}

.button-feed {
  left: 137px;
  top: 426px;
}
